<div class="container boder-box">
    <div class="row">
        <div class="col box1">
            <div>
                <img src="assets/image/icon/1.svg" alt="">
            </div>
            <div class="head">
                <p>Great Value</p>
            </div>
            <div class="line">
                <p>Most Popular brands with widest range of selection at best prices</p>
            </div>
        </div>
        <div class="col box1">
            <div>
                <img src="assets/image/icon/2.svg" alt="">
            </div>
            <div class="head">
                <p>Nationwide Delivery</p>
            </div>
            <div class="line">
                <p>Over 20,000 pincodes serviceable across India.</p>
            </div>
        </div>
        <div class="col box1">
            <div>
                <img src="assets/image/icon/3.svg" alt="">
            </div>
            <div class="head">
                <p>Secure Payment</p>
            </div>
            <div class="line">
                <p>Partnered with India's most popular and secure payment solutions.</p>
            </div>
        </div>
        <div class="col box1">
            <div>
                <img src="assets/image/icon/4.svg" alt="">
            </div>
            <div class="head">
                <p>Buyer Protection</p>
            </div>
            <div class="line">
                <p>Committed to buyer interests to provide a smooth shopping experience.</p>
            </div>
        </div>
        <div class="col box1">
            <div>
                <img src="assets/image/icon/5.svg" alt="">
            </div>
            <div class="head">
                <p>365 Days Help Desk</p>
            </div>
            <div class="line">
                <p>recom@info.com</p>
            </div>
        </div>
    </div>
</div>

<div class="container main">
    <div class="row">
        <div class="col">
            <div class="heading">
                Recom
            </div>
            <div>
                <ul>
                    <li><a href="">About Us</a> </li>
                    <li><a href="">Careers</a> </li>
                    <li><a href="">Press</a> </li>
                    <li><a href="">Testimonials</a> </li>
                    <li><a href="">bog</a></li>

                        
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="heading">
                Help
            </div>
            <div class="links">
                <ul>
                    <li><a href="">Contact Us</a> </li>
                    <li><a href="">Track My Order</a> </li>
                    <li><a href="">Buying Guide</a> </li>     
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="heading">
                FAQ's
            </div>
            <div>
                <ul>
                    <li><a href="">Order Tracking</a> </li>
                    <li><a href="">Cancellation & Return </a> </li>
                    <li><a href="">Refund</a> </li>
                    <li><a href="">Payment Option</a> </li>    
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="heading">
                Recom's Own
            </div>
            <div>
                <ul>
                    <li><a href="">Popluar Searches</a> </li>
                    <li><a href="">Best Deals</a> </li>
                    <li><a href="">Online Assist</a> </li>
                    <li><a href="">Industry Store</a> </li>
                    <li><a href="">Top Buying Requirement</a></li>

                        
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="heading">
                Miscellaneous
            </div>
            <div>
                <ul>
                    <li><a href="">Bulk Enquiry</a> </li>
                    <li><a href="">Recom Busniess</a> </li>
                    <li><a href="">Supplier Central</a> </li>
                 
                </ul>
            </div>
        </div>
    </div>
</div>
<div>
    <footer>
      <h5>Copyright@2023</h5>
      <p>Stuvalley Technology </p>
    </footer>
    <div class="share-button">
        <div >
            <a href=""><i style="color: #4867AA;" class="fa fa-facebook-square"></i></a>
            <a href="">  <i style="color: #d62976;" class="fa fa-instagram"></i></a>
           <a href=""> <i style="color:#0A66C2" class="fa fa-linkedin-square"></i></a>
          <a href="">  <i style="color:red" class="fa fa-youtube-play"></i></a>

        </div>
    </div>
  </div>