<div
  *ngIf="alert"
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
>
  <strong>Deleted!</strong> Your Data Deleted successfully!.
  <button
    (click)="closeAlert()"
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">No </th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of collection; let i = index">
      <th>{{ i + 1 }}</th>
      <th>{{ item.name }}</th>
      <th>{{ item.email }}</th>
      <th>{{ item.address }}</th>
      <th >
        <i
          (click)="deleteResto(item._id)"
          class="fa fa-trash"
          style="font-size: 20px; color: red"
        >
        </i>

        <a  routerLink="/update/{{ item._id }}"
          ><i  class="fa fa-edit" style="font-size: 20px; color: blue"> </i
        ></a>
      </th>
    </tr>
  </tbody>
</table>
