<div>
    <div class="head"  style="background-color: yellowgreen;">
        <p><span>Your Journey</span>on REcom</p>
        <span>Starting your online business with REcom is easy. 11 lakh+ sellers trust REcom with their business</span>
    </div>
    <div class="row next-section">
        
        <div class="col">
            <div class="img">
                <img src="assets/image/Track/1.svg" alt="">
            </div>
            <div  style="background-color: yellowgreen;" class="heading">
                <h5>Create</h5>
                <span>Register in just 10 mins with valid GST, address, & bank details</span>
            </div>
        </div>
        <div class="col">
            <div class="img">
                <img src="assets/image/Track/2.svg" alt="">
            </div>
            <div class="heading">
                <h5>List</h5>
                <span>List your products (min 1 no.) that you want to sell on REcom.</span>
            </div>
        </div>
        <div class="col">
            <div class="img">
                <img src="assets/image/Track/3.svg" alt="">
            </div>
            <div class="heading">
                <h5>Orders</h5>
                <span>Receive orders from over 45 crore+ REcom customers.</span>
            </div>
        </div>
        <div class="col">
            <div class="img">
                <img src="assets/image/Track/4.svg" alt="">
            </div>
            <div class="heading">
                <h5>Shipment</h5>
                <span>REcom ensures stress free delivery of your products</span>
            </div>
        </div>
        <div class="col">
            <div class="img">
                <img src="assets/image/Track/5.svg" alt="">
            </div>
            <div class="heading">
                <h5>Payments</h5>
                <span>Receive payment 7 days* from the date of dispatch of your order</span>
            </div>
        </div>
    </div>
</div>
