<div class="main-box">
    <div class="box">
    <div class="body">
        <h1>Order Products for delivery or pickup</h1>
        <div class="deatils">
            <p>Get your favorite Food,Flowers, Clothes, Cars, wine & spirits our stores</p>
        </div>
        <div class="search">

           <input class="input" type="search" placeholder="Search Product and shop Now ">
           <a >Shop Now</a>
        </div>
    </div>
    <div class="img">
        <img src="https://content.gotoliquorstore.com/images/bannerImage.png" alt="" srcset="">
        
    </div>
    </div>
</div>