<div class="row">
    <h1>How it works</h1>
    <div class="col">
        <div class="img">
            <img src="assets/image/location/1.png" alt="" srcset="">
        </div>
        <div class="head">
            <h5>Enter your address</h5>
            <p>Once you tell your location, we'll show you what's available in your local stores.</p>
        </div>
    </div>
    <div class="col">
        <div class="img">
            <img src="assets/image/location/2.png" alt="" style="width: 146px" srcset="">
        </div>
        <div class="head">
            <h5>Shop items you like</h5>
            <p>Select your favorite items, compare price and shop from multiple products at once.</p>
        </div>
    </div>
    <div class="col">
        <div class="img">
            <img  src="assets/image/location/3.png" alt="" srcset="">
        </div>
        <div class="head">
            <h5>Get your items delivered</h5>
            <p>Store will deliver your order, or you can select to pickup from the store at your convenience.</p>
        </div>
    </div>
    <div class="link">
        <a href="">Start Shopping</a>
        
    </div>
    
</div>




